<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" style="margin-left: 10px;" href="/contact-us">Contact Us</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
            </ul>
        </div>
        <div>
           
        </div>
    </nav>
</div>


<div class="main">
    <div class="main1">
    <h4>Contact Us</h4>
    <div class="form-group">
        Email : dacrtomanagement@gmail.com
    </div>
    <div class="form-group">
        Contact :9552789705,9096610821
    </div>
    <div class="form-group">
        Landline :020-646574643/44
    </div>
    <div class="form-group">
        Address :Sr.No.12,Pune station Road,Shivaji Nagar Pune 415110.
    </div>
</div>
</div>